%html
  %head
    %title Twitter Info Application

  %body
    %h2 Welcome

    %p
      %b Follower Count
      %br
      Append a twitter username on the url to display how many followers the user has
      %br
      %br
      For example:
      %br
        %a{:href => '/user/burtlo'} /user/burtlo
      %br
	
    %p
      %b Most Recent Tweet
      %br
      Append a twitter username on the url to display that person's most recent tweet
      %br
      %br
      For example:
      %br
        %a{:href => 'mostrecent/burtlo'} /mostrecent/burtlo