%html
  %head
    %title Most Recent Tweets

  %body
    %h2 Welcome

    %p
      The most recent tweet for #{@user} is:
      %br
      %br
      #{@msg}
      %br
      %br
      %a{:href => '/'} Home
	
