%html
  %head
    %title Most Recent Tweets - Tutorial

  %body
    %h2 Welcome

    %p
      In order to use this feature, just put someone's username at the end of the url
      %br
      %br
      Here's an example
      %a{:href => '/mostrecent/joelstimson'} /mostrecent/joelstimson
	
